#start-game-modal {
    display: inline-flex;
    flex-direction: column;
    background-color: red;
    padding: 5px;
    border-radius: 3%;
    text-align: center;
    height: fit-content;
}

#start-game-inputs {
    display: inline-flex;
    flex-direction: column;
    gap: 5px;
}

#player-one-name, #player-two-name {
    margin-left: 5px;
}

#player-two-type-fieldset{
    display: flex;
    align-items: baseline;
}

body{
    max-height: 100vh;
    max-width: 100vw;
    display: grid;
    justify-items: center;
}

#switch-player-modal{
    border: 1px solid gray;
    height: fit-content;
    padding: 15px;
    text-align: center;
    justify-items: center;
}

#switch-player-modal button {
    width: 50%;
}   

.sea-board{
    border: 1px solid red;
    font-size: 2rem;
}
.sea-row{
    /* margin: 1px; */
}
.sea-spot{
    margin: 1px;
    border: 1px solid gray;
}